body { background-color: #333; color: #fff; overflow-y: scroll; width: calc(100% + 20px); }
.form-control { background-color: #4e4e4e; color: #eee; }
.scaffold-modulemenu-expanded .scaffold-modulemenu { width: 250px; z-index: 50; }
.scaffold .scaffold-content { z-index: 100; }
.scaffold-content-navigation-expanded .scaffold-content-navigation { width: 320px; z-index: 50; }
.typo3-pagetree-toppanel { padding-right: 30px; }
.scaffold-content-navigation-expanded .scaffold-content-module { z-index: 100; }
.scaffold, .module, .module-docheader + .module-body, #typo3-pagetree-topPanelItems, .module-docheader,
  [id=ext-backend-Modules-FileSystemNavigationFrame-index-php],
  [id=ext-backend-Modules-FileSystemNavigationFrame-index-php] .module-body,
  [id=typo3-pagetree-treeContainer], .form-section, div.typo3-fullDoc, .table > thead > tr,
  .modal-severity-notice .modal-header, .panel .panel-heading, .table-fit > .table, .table-striped > tbody > tr:nth-of-type(odd),
  table, .list-tree li:last-child:before, #typo3-docheader, .cke_editable, .element-browser-main-sidebar, .modal-content,
  .element-browser-main-sidebar, .element-browser-main-sidebar .list-tree li:last-child:before, .element-browser-main-sidebar .list-tree-control > .fa:before,
  .t3-message-page { background-color: #333!important; }
a, .x-tree-node a span, .x-dd-drag-ghost a span, .t3js-title-inlineedit, .typo3-docheader-pagePath, .h1, .h2, .h3, h1, h2, h3, h4, h5,
  .module-docheader-bar-column-right, .module-docheader-bar-column-right strong, .module-docheader-bar-column-right a
  .module-docheader-bar-column-left, .module-docheader-bar-column-left strong, .module-docheader-bar-column-left a, .checkbox, .help-block,
  .panel .panel-heading, #typo3-docheader .typo3-docheader-buttons, #typo3-docheader .typo3-docheader-functions, .cke_editable { color: #eee; }
.t3js-wizardcrpages-container { border: 1px solid #fff; }
.callout-title { color: #333; }
.x-tree-node-over a span, .x-tree-selected a span, modal-body { color: #000; }
.t3-grid-cell, .t3-page-ce .t3-page-ce-body { background-color: #292929; }
.t3-page-column-header, .t3-page-ce .t3-page-ce-header { background-color: #151515; color: #eee; }
.t3-page-ce .t3-page-ce-footer, .nav-tabs, .panel-tab, .icon-list, .table-hover > tbody > tr:hover, .module .cke_inner { background-color: transparent; }
.icon-list, .t3-page-column-header, .t3-page-column, .typo3-pagetree-toppanel { border: 0; }
.t3-page-ce .t3-page-ce-body, .t3-page-ce .t3-page-ce-header { border-color: #000; }
.svg-tree-wrapper .node .chevron, .svg-tree-wrapper .node .tree-check, .svg-tree-wrapper .node text, .icon-color { fill: #eee; }
.module-docheader .module-docheader-bar-column-right { margin-right: 15px; }
.scaffold .scaffold-content::before { background-color: #333; content: " "; height: 100%; left: 0; position: absolute; top: 0; width: 20px; z-index: 100; }
[id=typo3-pagetree-treeContainer] { border-top: 1px solid #c3c3c3; }
.scaffold-content-navigation-expanded .scaffold-content-navigation { margin-left: 10px; width: 270px; }
#cke_1_top, #cke_1_bottom { background-color: rgba(250,250,250,0.7); }
